SSH=user@22.22.222.222

NPM_PUBLIC_URL=http://localhost:81
NPM_API_URL=http://nginx-container:81
NPM_URL=http://host.docker.internal:81
NPM_EMAIL=admin@example.com
NPM_PASSWORD=changeme

MYSQL_ROOT_PASSWORD=root

REGISTRY_USER=admin
REGISTRY_PASSWORD=123456

SERVER_HOST=22.22.222.222
SERVER_PORT=22
SERVER_USER=vennro
SERVER_SSH_KEY=/root/.ssh/id_rsa

DOCKERHUB_USERNAME=vennro
DOCKERHUB_PASSWORD=123456

MINIO_ROOT_USER=vennro
MINIO_ROOT_PASSWORD=123456

REDIS_PASSWORD=12345

POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=mydb
POSTGRES_DUMP_NAME=postgres.dump
POSTGRES_HOME_DUMP_PATH=dumps/postgres/
POSTGRES_SERVER_DUMP_PATH=/path/to/postgres/dump/for/server/

PGADMIN_EMAIL=admin@admin.ru
PGADMIN_PASSWORD=123456
